.weni-message-text {
  font: $font-caption-2;
  &--incoming {
    color: $fg-emphasized;
  }

  &--outgoing {
    color: $white;
  }

  & > * {
    max-width: 100%;

    word-wrap: break-word;
    overflow-wrap: anywhere;
    text-wrap: auto;
  }

  // Markdown elements styling
  p {
    margin: 0.5em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
    
    &:hover {
      opacity: 0.8;
    }
  }

  ul, ol {
    margin: 0.5em 0;
    padding-left: 1.5em;
  }

  li {
    margin: 0.25em 0;
  }
}

.weni-message-text__caret {
  display: inline-block;
  width: 1px;
  height: 1.2em;
  margin-left: -1px;
  background: currentColor;
  animation: caret-blink 1s step-end infinite;
  vertical-align: text-bottom;
}

@keyframes caret-blink {
  50% { opacity: 0; }
}
