.weni-messages-list {
  padding: $spacing-4 $spacing-2;
  
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
 
  height: 100%;
  overflow: hidden auto;

  &__avatar {
    grid-column: 1 / 2;
  }

  &__message {
    width: fit-content;

    &--incoming {
      grid-column: 2 / 3;
      justify-self: flex-start;
    }

    &--outgoing {
      justify-self: flex-end;
    }
  }

  &__direction-group {
    max-width: 75%;

    display: grid;
    gap: $spacing-1;

    &--incoming {
      grid-template-columns: minmax($icon-size-5, auto) 1fr;
      align-self: flex-start;
    }

    &--outgoing {
      align-self: flex-end;
    }
  }
}