.weni-message-audio {
  display: flex;
  align-items: center;
  gap: $spacing-2;
  width: 100%;

  &__progress-bar {
    position: relative;
    width: clamp(85px, 100%, 185px);
    height: calc($icon-size-4 / 4);

    -webkit-appearance: none;
    appearance: none;

    outline: none;
    background: transparent;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: var(--progress, 0%);
      height: 100%;
      border-radius: $border-radius-4;
      background: $gray-700;
    }

    @mixin slider-track {
      width: 100%;
      height: 100%;
      border-radius: $border-radius-4;
      background: $white;
      border: none;
    }

    @mixin slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;

      margin-top: -3px;
      height: $icon-size-3;
      width: $icon-size-3;
      opacity: 0;
      
      border-radius: $border-radius-full;
      background: $gray-700;
      border: none;
      cursor: pointer;
    }

    // Webkit styles
    &::-webkit-slider-runnable-track {
      @include slider-track;
    }
    &::-webkit-slider-thumb {
      @include slider-thumb;
      
    }

    // Firefox styles
    &::-moz-range-track {
      @include slider-track;
    }
    &::-moz-range-thumb {
      @include slider-thumb;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__time {
    font: $font-emphasis;
    line-height: calc(1.25 * $font-size);
    color: $fg-inverted;
    font-variant-numeric: proportional-nums;
  }
}
