.weni-audio-recorder {
  outline: 1px solid $gray-200;

  border-radius: $border-radius-2;

  width: 100%;
  height: 36px;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: $spacing-2;

  &__timer {
    display: flex;
    align-items: center;
    gap: $spacing-2;

    font: $font-display-3;
    color: $gray-800;

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      background: $fg-critical;
      border-radius: $border-radius-full;
      animation: pulse 1.2s infinite;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
