.weni-input-box {
  padding: 0 $spacing-2;

  display: flex;
  align-items: center;
  gap: $spacing-2;

  .weni-input-box__textarea {
    padding: $spacing-2 $spacing-4;

    border-radius: $border-radius-2;
    outline: 1px solid $border-base;

    background-color: var(--weni-input-bg-color);
    color: var(--weni-input-font-color);

    flex: 1;
    resize: none;

    &::placeholder {
      color: var(--weni-input-placeholder-color);
    }

    &:focus-visible {
      outline: 1px solid var(--weni-main-color);
    }
  }
}