@import '@/styles/animations.scss';
@import '@/styles/variables.scss';

.weni-chat {
  @include weni-animation(0, 0.25s, weni-expand-in);

  width: var(--widgetWidth);
  height: var(--widgetHeight);

  background: $white;
  border-radius: $border-radius-3;
  box-shadow: $shadow-1;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  &--closing {
    @include weni-animation(0, 0.25s, weni-expand-out);
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
  }
}

.weni-widget--fullscreen .weni-chat {
  border-radius: 0;

  position: fixed;
  width: 100%;
  height: 100%;
}
