@mixin push-animation ($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin push-keyframes ($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}

@include push-keyframes(push-rotation-lr) {
  from  {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(0);
  }
}

@include push-keyframes(push-rotation-rl) {
  from  {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0);
  }
}

@include push-keyframes(push-slide-in) {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@include push-keyframes(push-slide-out) {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

@include push-keyframes(push-expand-in) {
  from {
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
  }  
  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom right;
  }
}

@include push-keyframes(push-expand-out) {
  from {
    opacity: 1;
    transform: scale(1);
    transform-origin: bottom right;
  }
  to {
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom right;
  }
}

@include push-keyframes(push-scale-hover-in) {
  from {
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.33, 0, 0, 1);
  }
  to {
    transform: scale(1.1);
    transition: transform 250ms cubic-bezier(0.33, 0, 0, 1);
  }
}

@include push-keyframes(push-scale-hover-out) {
  from {
    transform: scale(1.1);
    transition: transform 250ms cubic-bezier(0.33, 0, 0, 1);
  }
  to {
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.33, 0, 0, 1);
  }
}