@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* Reset and base styles */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	border: 0;

  transition: outline 0.1s ease;
}

*:focus-visible {
  outline: 1px solid var(--weni-launcher-color);
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

ol, ul {
	list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  font: $font-body;
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
