// TODO: Variables copied from old webchat, need to be refactored

:root {
  --titleColor: #fff;
  --subtitleColor: #fff;
  --headerBackgroundColor: #00A49F;
  --chatBackgroundColor: #fff;
  --inputBackgroundColor: #f4f7f9;
  --inputFontColor: #000;
  --inputPlaceholderColor: #b5b5b5;
  --userMessageBubbleColor: #003a9b;
  --userMessageTextColor: #fff;
  --botMessageBubbleColor: #f4f7f9;
  --botMessageTextColor: #000;
  --widgetHeight: 65vh;
  --widgetWidth: 360px;

  --launcherHeight: 60px;
  --launcherWidth: 60px;
  --launcherColor: #00A49F;

  --quickRepliesFontColor: #0084ff;
  --quickRepliesBackgroundColor: none;
  --quickRepliesBorderColor: #0084ff;
  --quickRepliesBorderWidth: 1px;
  --fullScreenBotMessageBubbleColor: rgba(0, 0, 0 ,0);
  --suggestionsBackgroundColor: #edf1f3;
  --suggestionsSeparatorColor: #e6e6e6;
  --suggestionsFontColor: grey;
  --suggestionsHoverFontColor: #03348A;

  --green-1: #35e65d;
  --grey-1: #cdd8ec;
  --grey-2: #f4f7f9;
  --grey-3: #b5b5b5;
  --grey-4: #e6e6e6;
  --turqois-1: #35cce6;
  --turqois-2: #a3eaf7;
  --white: #fff;
  --red-1: #ff0000;
  --red-2: #ff7070;
  --blue-1: #003a9b;
  --blue-2: #0084ff;
}

/* Colors */
$black: #000;
$white: #fff;


/* Shadows */
$shadow-1: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
$shadow-2: 0px 24px 48px 0px rgba(0, 0, 0, 0.16);

/* Border Radius */
$border-radius-0: 0px;
$border-radius-1: 4px;
$border-radius-2: 8px;
$border-radius-3: 12px;
$border-radius-4: 16px;
$border-radius-full: 100%;

/* Spacing */
$spacing-0: 0px;
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 28px;
$spacing-8: 32px;
$spacing-10: 40px;
$spacing-16: 64px;
$spacing-20: 80px;
