@import '@/styles/animations.scss';

.weni-widget {
  z-index: 9999;

  position: fixed;
  right: 0;
  bottom: 0;

  padding: 0 $spacing-3 $spacing-3 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;  
  gap: $spacing-3;

  @include weni-animation(0, 0.25s, weni-slide-in);
}