@import '../../styles/variables.scss';

.weni-webchat-widget {
  z-index: 9999;

  position: fixed;
  right: 0;
  bottom: 0;

  padding: 0 1vh 1vh 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;  
}