.weni-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
  color: $gray-500;
  font-weight: 500;
  user-select: none;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;

  &--small {
    width: $icon-size-4;
    height: $icon-size-4;
    font-size: calc($icon-size-4 * 0.45);
  }

  &--medium {
    width: $icon-size-5;
    height: $icon-size-5;
    font-size: calc($icon-size-5 * 0.45);
  }

  &--large {
    width: $icon-size-6;
    height: $icon-size-6;
    font-size: calc($icon-size-6 * 0.45);
  }

  &--x-large {
    width: $icon-size-7;
    height: $icon-size-7;
    font-size: calc($icon-size-7 * 0.45);
  }

  &--full {
    width: 100%;
    height: 100%;
    font-size: calc(100% * 0.45);
  }

  &--circle {
    border-radius: 50%;
  }

  &--square {
    border-radius: 0;
  }

  &--rounded {
    border-radius: 8px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__initials {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    line-height: 1;
  }
}

