.weni-button {
  background-color: transparent;
  border: none;

  border-radius: $border-radius-2;

  display: flex;
  align-items: center;
  gap: $spacing-2;

  font: $font-action;
  text-decoration: none;

  transition: background-color 0.1s ease;
  cursor: pointer;
  
  padding: $spacing-2 $spacing-3;

  &--only-icon {
    padding: $spacing-2;
  }

  &--start-aligned {
    justify-content: flex-start;
  }

  &--center-aligned {
    justify-content: center;
  }

  &--end-aligned {
    justify-content: flex-end;
  }

  &--large {
    padding: $spacing-3;
  }

  &--small {
    padding: $spacing-1;
  }

  &--primary,
  &--warning,
  &--attention {
    color: $fg-inverted;
  }

  &--secondary,
  &--tertiary {
    color: $fg-emphasized;
  }

  &--primary {
    background-color: var(--weni-user-message-bubble-color);

    &.weni-button--enabled {
      &:hover, &.weni-button--hover-state {
        box-shadow: inset 0 46px rgba(0, 0, 0, .1);
      }

      &:active {
        box-shadow: inset 0 46px rgba(0, 0, 0, .2);
      }
    }
  }

  &--secondary {
    background-color: $bg-base;
    box-shadow: inset 0 0 0 1px $border-base;

    &.weni-button--enabled {
      &:hover, &.weni-button--hover-state {
        background-color: $gray-50;
      }

      &:active {
        background-color: $gray-100;
      }
    }
  }

  &--tertiary {
    background-color: transparent;

    &.weni-button--enabled {
      &:hover, &.weni-button--hover-state {
        background-color: rgba($gray-950, 0.1);
      }

      &:active {
        background-color: rgba($gray-950, 0.2);
      }
    }
  }

  &--warning {
    background-color: $red-500;
    color: $white;

    &.weni-button--enabled {
      &:hover, &.weni-button--hover-state {
        background-color: $red-600;
      }

      &:active {
        background-color: $red-700;
      }
    }
  }

  &--attention {
    background-color: $yellow-500;

    &.weni-button--enabled {
      &:hover, &.weni-button--hover-state {
        background-color: $yellow-600;
      }

      &:active {
        background-color: $yellow-700;
      }
    }
  }

  &--disabled {
    &.weni-button--primary,
    &.weni-button--secondary,
    &.weni-button--tertiary,
    &.weni-button--warning,
    &.weni-button--attention {
      background-color: $bg-muted;
      color: $fg-muted;
      cursor: not-allowed;
    }
  }
}
