.weni-icon {
  aspect-ratio: 1/1;
  pointer-events: none;

  &--small {
    width: $icon-size-4;
    height: $icon-size-4;
  }

  &--medium {
    width: $icon-size-5;
    height: $icon-size-5;
  }

  &--large {
    width: $icon-size-6;
    height: $icon-size-6;
  }

  &--x-large {
    width: $icon-size-7;
    height: $icon-size-7;
  }
}