.weni-camera-recording {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0 $spacing-2;
  }

  &__footer {
    padding: 0 $spacing-2;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: $spacing-1;
  }

  &__actions__close {
    margin-right: auto;
  }
}
